@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: rgb(15, 16, 16);
    --green: rgb(94, 244, 48);
    --white: rgb(245, 249, 249);
    --grey: rgb(203, 208, 208);
}

a:link {
    color: var(--black);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: var(--black);
    text-decoration: none;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: var(--black);
}

/*style Header*/

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btn {
    font-family: 'Press Start 2P', cursive;
    color: var(--black);
    background-color: var(--white);
    font-size: 1.5vw;
    height: 1.8vh;      
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 2vw;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--grey);
    cursor: pointer;
}

.name {
    color: var(--white);
}

.name button {
    margin: 5vmin;
}

.name h3 {
    font-size: 2.5vw;
    margin: 15vh auto 15vh auto;
}

.name p {
    margin: 2vw;
    font-size: 1.3vw;
}
/*style Header*/

/*style number*/

.guess {
    width: 15vw;
    height: 20vh;
    font-size: 5vw;
    background-color: var(--white);
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
}
/*style number*/

/*style main*/
main {
    display: flex;
    flex-direction: row;
    color: var(--white);
    margin: 8vh auto 5vh auto;
    justify-content: space-around;
    
}

.number input {
    width: 15vw;
    height: 15vh;
    font-size: 4vw;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--black);
    color: var(--white);
    border-style: solid;
    border-width: 5px;
    border-color: var(--white);
    margin-bottom: 2vh;
}

.content p {
    font-size: 1.7vw;
    padding: 2vh;
}
